<script src="{{ 'new-progress-bar.js' | asset_url }}"></script>
{{ 'new-progress-bar.css' | asset_url | stylesheet_tag }}

 <div class="new-progress-bar-cont page-width" style="margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;">
      <div class="new-progress-bar">
      <div class="first-off">
      <div class="progress-bar-text">
      <p>-10% OFF</p>
      <p>for 4+ stickers</p>
      </div>
      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="12.5" cy="12" r="12" fill="#E8E8E8"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.2547 8.23228C19.4118 8.3812 19.5 8.58307 19.5 8.79354C19.5 9.00402 19.4118 9.20588 19.2547 9.35481L11.426 16.7677C11.2687 16.9165 11.0555 17 10.8333 17C10.611 17 10.3978 16.9165 10.2405 16.7677L5.76697 12.5318C5.68456 12.4591 5.61846 12.3714 5.57261 12.2739C5.52677 12.1765 5.50212 12.0713 5.50013 11.9647C5.49814 11.8581 5.51886 11.7521 5.56105 11.6532C5.60323 11.5543 5.66603 11.4645 5.74568 11.3891C5.82533 11.3137 5.9202 11.2542 6.02465 11.2143C6.12909 11.1743 6.24096 11.1547 6.35359 11.1566C6.46621 11.1585 6.57728 11.1818 6.68017 11.2252C6.78306 11.2686 6.87567 11.3312 6.95246 11.4092L10.8333 15.0839L18.0692 8.23228C18.2265 8.08354 18.4397 8 18.6619 8C18.8842 8 19.0974 8.08354 19.2547 8.23228Z" fill="#8D8D8D"/>
</svg>
      </div>
      <svg class="arrow-progress-bar" width="82" height="16" viewBox="0 0 82 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M81.2071 8.70711C81.5976 8.31659 81.5976 7.68342 81.2071 7.2929L74.8431 0.928939C74.4526 0.538414 73.8195 0.538414 73.4289 0.928939C73.0384 1.31946 73.0384 1.95263 73.4289 2.34315L79.0858 8.00001L73.4289 13.6569C73.0384 14.0474 73.0384 14.6805 73.4289 15.0711C73.8195 15.4616 74.4526 15.4616 74.8431 15.0711L81.2071 8.70711ZM0.5 9L80.5 9.00001L80.5 7.00001L0.5 7L0.5 9Z" fill="#8D8D8D"/>
</svg>

      <div class="second-off">
      <div class="progress-bar-text">
      <p>-20% OFF</p>
      <p>for 6+ stickers</p>
      </div>
      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="12.5" cy="12" r="12" fill="#E8E8E8"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.2547 8.23228C19.4118 8.3812 19.5 8.58307 19.5 8.79354C19.5 9.00402 19.4118 9.20588 19.2547 9.35481L11.426 16.7677C11.2687 16.9165 11.0555 17 10.8333 17C10.611 17 10.3978 16.9165 10.2405 16.7677L5.76697 12.5318C5.68456 12.4591 5.61846 12.3714 5.57261 12.2739C5.52677 12.1765 5.50212 12.0713 5.50013 11.9647C5.49814 11.8581 5.51886 11.7521 5.56105 11.6532C5.60323 11.5543 5.66603 11.4645 5.74568 11.3891C5.82533 11.3137 5.9202 11.2542 6.02465 11.2143C6.12909 11.1743 6.24096 11.1547 6.35359 11.1566C6.46621 11.1585 6.57728 11.1818 6.68017 11.2252C6.78306 11.2686 6.87567 11.3312 6.95246 11.4092L10.8333 15.0839L18.0692 8.23228C18.2265 8.08354 18.4397 8 18.6619 8C18.8842 8 19.0974 8.08354 19.2547 8.23228Z" fill="#8D8D8D"/>
</svg>
      </div>
      <svg class="arrow-progress-bar" width="82" height="16" viewBox="0 0 82 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M81.2071 8.70711C81.5976 8.31658 81.5976 7.68342 81.2071 7.29289L74.8431 0.928932C74.4526 0.538408 73.8195 0.538408 73.4289 0.928932C73.0384 1.31946 73.0384 1.95262 73.4289 2.34315L79.0858 8L73.4289 13.6569C73.0384 14.0474 73.0384 14.6805 73.4289 15.0711C73.8195 15.4616 74.4526 15.4616 74.8431 15.0711L81.2071 8.70711ZM0.5 9H80.5V7H0.5V9Z" fill="#8D8D8D"/>
</svg>

      <div class="third-off">
      <div class="progress-bar-text">
      <p>-30% OFF</p>
      <p>for 10+ stickers</p>
      </div>
      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="12.5" cy="12" r="12" fill="#E8E8E8"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.2547 8.23228C19.4118 8.3812 19.5 8.58307 19.5 8.79354C19.5 9.00402 19.4118 9.20588 19.2547 9.35481L11.426 16.7677C11.2687 16.9165 11.0555 17 10.8333 17C10.611 17 10.3978 16.9165 10.2405 16.7677L5.76697 12.5318C5.68456 12.4591 5.61846 12.3714 5.57261 12.2739C5.52677 12.1765 5.50212 12.0713 5.50013 11.9647C5.49814 11.8581 5.51886 11.7521 5.56105 11.6532C5.60323 11.5543 5.66603 11.4645 5.74568 11.3891C5.82533 11.3137 5.9202 11.2542 6.02465 11.2143C6.12909 11.1743 6.24096 11.1547 6.35359 11.1566C6.46621 11.1585 6.57728 11.1818 6.68017 11.2252C6.78306 11.2686 6.87567 11.3312 6.95246 11.4092L10.8333 15.0839L18.0692 8.23228C18.2265 8.08354 18.4397 8 18.6619 8C18.8842 8 19.0974 8.08354 19.2547 8.23228Z" fill="#8D8D8D"/>
</svg>
</div>
      </div>
      </div>
{% schema %}
  {
    "name": "New Progress Bar",
    "tag": "section",
    "class": "section new-progress-bar-section",
    "settings": [
      {
        "type": "range",
        "id": "margin_top",
        "label": "Margin top",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 20,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "label": "Margin bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 20,
        "unit": "px"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "New Progress Bar"
      }
    ]
  }
{% endschema %}